# Code owners file.
# This file controls who is automatically requested for review when someone opens a pull request that modifies code that they own.

# For syntax help,
# visit https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

*        @Lamparter

# I wish to personally thank the previous lead developer, @0x5BFA, for all his hard work on FluentHub. I wouldn't be here today without FluentHub. Thank you.

thanks   @0x5BFA
