<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="FluentHubDev"
    Publisher="CN=FluentHub"
    Version="0.3.0.0" />

  <mp:PhoneIdentity PhoneProductId="69c86c00-bb72-4528-9891-0e292b6fdce0" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>FluentHub - Dev</DisplayName>
    <PublisherDisplayName>Tomoyuki Terashita</PublisherDisplayName>
    <Logo>Assets\AppTilesDev\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="FluentHub.App">
      <uap:VisualElements
        DisplayName="FluentHub - Dev"
        Square150x150Logo="Assets\AppTilesDev\Square150x150Logo.png"
        Square44x44Logo="Assets\AppTilesDev\Square44x44Logo.png"
        Description="A fluent GitHub client app for Windows"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\AppTilesDev\Wide310x150Logo.png" Square71x71Logo="Assets\AppTilesDev\SmallTile.png" Square310x310Logo="Assets\AppTilesDev\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\AppTilesDev\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="fluenthub">
            <uap:Logo>Assets\AppTiles\DefaultLogo.png</uap:Logo>
            <uap:DisplayName>FluentHub - GitHub Desktop Client</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>
